<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <h2 th:text="${question.title}"></h2>
    <p th:text="${question.content}"></p>
    <p style="font-size: small;" th:text="|작성일: ${#temporals.format(question.createDate, 'yy.MM.dd HH:mm')}|"></p>
    <hr>
    <h4><span th:text="${question.answerList.size()}"></span>개의 답변</h4>
    <div th:each="answer : ${question.answerList}" style="margin-bottom: 15px; border-bottom: 1px dashed #ccc; padding-bottom: 10px;">
        <p th:text="${answer.content}"></p>
        <div style="font-size: small;">
            <span th:text="|작성일: ${#temporals.format(answer.createDate, 'yy.MM.dd HH:mm')}|"></span>
            <a th:href="@{|/answer/modify/${answer.id}|}" style="margin-left: 10px;">수정</a>
            <a th:href="@{|/answer/delete/${answer.id}|}" style="margin-left: 5px;">삭제</a>
        </div>
    </div>
    <hr>
    <form th:action="@{|/answer/form/${question.id}|}" method="post" th:object="${answerForm}">
        <div th:if="${#fields.hasErrors('content')}" class="error" th:errors="*{content}"></div>
        <textarea th:field="*{content}" rows="5" placeholder="답변을 입력해주세요."></textarea>
        <input type="submit" value="답변 등록">
    </form>
    <hr>
    <div>
        <a href="/question/list">글 목록</a>
        <a th:href="@{|/question/modify/${question.id}|}" style="margin-left: 10px;">질문 수정</a>
        <a th:href="@{|/question/delete/${question.id}|}" style="margin-left: 5px;">질문 삭제</a>
    </div>
</div>
</html>