<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3">
        <h1>질문 등록 화면</h1>
        <form th:object="${questionForm}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" th:field="*{title}" class="form-control"/>
                <div th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></div>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
                <div th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></div>
            </div>
            <button type="submit" class="btn btn-primary" th:text="${questionForm.id} != null ? '수정하기' : '등록하기'"></button>
        </form>
    </div>
</html>