<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>JSB Project</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<nav class="navbar">
    <a href="/question/list" class="brand">JSB 홈</a>
    <div class="nav-links">
        <a th:href="@{/user/login}" sec:authorize="isAnonymous()">로그인</a>
        <a th:href="@{/user/signup}" sec:authorize="isAnonymous()">회원가입</a>
        <a href="javascript:void(0);" onclick="document.getElementById('logoutForm').submit();"
           sec:authorize="isAuthenticated()">로그아웃</a>
    </div>
</nav>

<form th:action="@{/user/logout}" method="post" id="logoutForm" style="display: none;"></form>

<main class="container">
    <div layout:fragment="content">
    </div>
</main>

</body>
</html>