<html layout:decorate="~{layout}">
<div layout:fragment="content" class="page-container user">

  <h1 class="page-title">비밀번호 변경</h1>
  <h3>아이디를 입력하여 비밀번호를 초기화 할 수 있습니다.<br>변경된 비밀번호는 회원 정보에 저장된 이메일로 발송됩니다.</h3>

  <!-- 회원가입폼 -->
  <form th:action="@{/user/password/reset}" th:object="${form}" method="post">

    <div>
      <label for="username">아이디</label>
      <input id="username" type="text" th:field="*{username}" />
      <div th:if="${#fields.hasErrors('username')}"
           th:errors="*{username}" class="field-error"></div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn">비밀번호 초기화</button>
    </div>
  </form>
</div>
</html>