<html layout:decorate="~{layout}">
<div layout:fragment="content" class="page-container user">

  <h1 class="page-title">비밀번호 변경</h1>

  <!-- 회원가입폼 -->
  <form th:action="@{/user/password}" th:object="${form}" method="post">

    <div>
      <label for="password">기존 비밀번호</label>
      <input id="oldPassword" type="password" th:field="*{oldPassword}" />
      <div th:if="${#fields.hasErrors('oldPassword')}"
           th:errors="*{oldPassword}" class="field-error"></div>
    </div>

    <div>
      <label for="password">신규 비밀번호</label>
      <input id="password" type="password" th:field="*{password}" />
      <div th:if="${#fields.hasErrors('password')}"
           th:errors="*{password}" class="field-error"></div>
    </div>

    <div>
      <label for="passwordConfirm">비밀번호 확인</label>
      <input id="passwordConfirm" type="password" th:field="*{passwordConfirm}" />
      <div th:if="${#fields.hasErrors('passwordConfirm')}"
           th:errors="*{passwordConfirm}" class="field-error"></div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn">변경</button>
    </div>
  </form>
</div>
</html>