<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<div layout:fragment="content">
    <h3>회원가입</h3>
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
        <div th:if="${#fields.hasAnyErrors()}">
            <ul class="error">
                <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
            </ul>
        </div>
        <div>
            <label for="username">사용자ID</label>
            <input type="text" id="username" th:field="*{username}">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}">
        </div>
        <div>
            <label for="passwordConfirm">비밀번호 확인</label>
            <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}">
        </div>
        <div>
            <label for="email">이메일</label>
            <input type="email" id="email" th:field="*{email}">
        </div>
        <button type="submit">회원가입</button>
    </form>
</div>
</html>