<html layout:decorate="~{layout}">
<div layout:fragment="content" class="page-container user">

    <h1 class="page-title">회원가입</h1>

    <!-- 회원가입폼 -->
    <form th:action="@{/user/sign}" th:object="${form}" method="post" enctype="multipart/form-data">

        <!-- 에러 발생 시 각 필드에 메세지 표시되도록 함 (ex : 사용중인 아이디입니다, 아이디는 필수 입력입니다.) -->

        <!-- 프로필 사진 설정 -->
        <div>
            <label for="profileImage">프로필 사진</label>
            <img id="preview" th:src="@{/images/defaultProfile.png}" alt="프로필 사진" width="150" /><br/>
            <input id="profileImage" type="file" name="profileImage" accept="image/*" onchange="loadPreview(event)"/>
        </div>

        <div>
            <label for="username">아이디</label>
            <input id="username" type="text" th:field="*{username}" />
            <div th:if="${#fields.hasErrors('username')}"
                 th:errors="*{username}" class="field-error"></div>
        </div>

        <div>
            <label for="nickname">닉네임</label>
            <input id="nickname" type="text" th:field="*{nickname}" />
            <div th:if="${#fields.hasErrors('nickname')}"
                 th:errors="*{nickname}" class="field-error"></div>
        </div>

        <div>
            <label for="password">비밀번호</label>
            <input id="password" type="password" th:field="*{password}" />
            <div th:if="${#fields.hasErrors('password')}"
                 th:errors="*{password}" class="field-error"></div>
        </div>

        <div>
            <label for="passwordConfirm">비밀번호 확인</label>
            <input id="passwordConfirm" type="password" th:field="*{passwordConfirm}" />
            <div th:if="${#fields.hasErrors('passwordConfirm')}"
                 th:errors="*{passwordConfirm}" class="field-error"></div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn">회원가입</button>
        </div>
    </form>

    <!-- 프로필 사진 미리보기를 위한 JS -->
    <script>
        function loadPreview(event) {
            const preview = document.getElementById('preview');
            const file = event.target.files[0];

            if(file) {
                preview.src = URL.createObjectURL(file); // 선택한 파일을 미리보기로 표시
            } else {
                preview.src = '/images/default-profile.png'; // 파일 선택 취소 시 기본 이미지
            }
        }
    </script>
</div>
</html>
